{% extends 'base.html' %}




{% block content %}
<h1>{% block title %} Alex Traduction {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Traduire</label>
        <form method="post">

            <select name="traduire_select" class="Input">
                  {% for o,l in data.items() %}
                  {%print(o)%}
                  <option value="{{ o }}">{{ l }}</option>
                  {% endfor %}
            </select>
            <textarea name="Traduire" placeholder="Traduire" id="totranslate"
                  class="form-control">{{sample_text}}</textarea>
        

    <div class="form-group">
        <label for="title">Traduction</label>

            <select name="traduction_select" class="Input">
                  {% for o,l in data.items() %}
                  {%print(o)%}
                  <option value="{{ o }}">{{ l }}</option>
                  {% endfor %}
            </select>
            <textarea name="Traduction" placeholder="Traduction" id="totranslate"
                  class="form-control">{{ sample_input }}</textarea>
            <input type="submit">
            <p>{{detect_language}}</p>
        </div>
        </form>
        
    </div>
    
</form>
{% endblock %}