{% extends 'base.html' %}




{% block content %}
<h1>{% block title %} Alex Traduction {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Traduire</label>
        <form action="{{url_for('test')}}" method="post">

            <select name="comp_select" class="Input">
                  {% for o,l in data.items() %}
                  {%print(o)%}
                  <option value="{{ o }}">{{ l }}</option>
                  {% endfor %}
            </select>
        <form method="post">
            <textarea name="Traduire" placeholder="Traduire" id="totranslate"
                  class="form-control">{{ request.form['content'] }}</textarea>
            <input type="submit">
        </form>
        
    </div>

    <div class="form-group">
        <label for="content">Traduction</label>
        <form action="{{url_for('test')}}" method="post">

            <select name="comp_select" class="Input">
                  {% for o,l in data.items() %}
                  {%print(o)%}
                  <option value="{{ o }}">{{ l }}</option>
                  {% endfor %}
            </select>
        <textarea name="Traduction" placeholder="Traduit" id="wastranslate"
                  class="form-control">{{ request.form['content'] }}</textarea>
    </div>
</form>
{% endblock %}